*{
    transition:all 400ms;
}
body{
    background-image: url("../imagens/texture.png");
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
}

section.main{
    margin: auto;
    height: 100%;
}

.main h1{
    font-family: 'Lobster', cursive;
    color: #2F4F4F;
    text-align: center;
    height: 10%;
    color: #111;
    text-shadow: 1px 1px #487108;
}

.luz{
    height: 7%;
    width: 50%;
    margin: auto;
}

.luz .title{
    display: block;
    float: left;
    margin:2% 0 0 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow:#fff 1px 1px;
    font-weight: bold;
}

.onoffswitch{
    float: right;
}

.vermelho{
    color: #f00;
}

.amarelo{
    color: #E0C500;
}

.azul{
    color: #00f;
}

.verde{
    color: #1A9C03;
}

@media screen and (max-width:992px){
    .luz .title{
         font-size: 3em;
    }

    section.main{
        width: 100%;
    }

    .main h1{
        font-size: 3em;
        text-align: center;
    }
}

@media screen and (min-width:993px){
    .luz .title{
         font-size: 1.5em;
    }
    section.main{
        width: 50%;
    }
    .main h1{
        font-size: 3em;
    }
}